primary_region        = "us-east-1"
replica_region        = "us-west-2"
primary_region_prefix = "ause1"
replica_region_prefix = "usw2"
account_name          = "prod"
project_name          = "replicated"
